<h1>Client Dashboard</h1>

<%= nested_form_for([:client, @goal]) do |f| %>
  <div class="form-group">
    <%= f.label :catagory %>
    <%= f.text_field :catagory %>
  </div>

  <div class="form-group">
    <%= f.label :point_value %>
    <%= f.number_field :point_value %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %>
    <%= f.text_field :frequency %>
  </div>



  <div class="form-group">
    <%= f.submit %>
  </div>

<% end %>
