<div id="box-wrapper">
  <header id="header5" class="header">
      <div class="row">
          <div class="large-4 columns">
              <div id="logo">
                  <a href="<%= root_path %>"><%= image_tag('logo.png') %></a>
              </div>
          </div>
      </div>
  </header>
  <div class="devisestuff">
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.submit "Resend confirmation instructions" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
