
<body>
  <h2>Daily Deeds Dashboard</h2>
  <!-- <form id="dashboardform" action="clients/goals" method="post"> -->
    <h4>Add your deeds and grow your points!</h4>
  <br>
  <br>
  <br>

    <div style="text-align: center" class="total"></div>
  </br>


  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% @goals.each do |goal| %>
      <li class="card">
        <input type="hidden" class="goal_id" value="<%= goal.id %>">
        <div>
          <h1>Category</h1>
          <%= goal.category %>
        </div>
        <div><span class="point_value"><%= goal.point_value %></span> Value</div>
        <div>
          <h3>Time Per Week</h3>
          <%= select_tag(:frequency, options_for_select([1, 2, 3, 4, 5, 10, 15, 20], selected: goal.frequency), id: nil, class: 'frequency-select') %>
        </div>
        <div><span class="weekly_goal" id='<%= goal.id %>'><%= goal.weekly_points_goal %></span> Weekly Goal</div>
        <div>
        <a class="done" href="#" data-value="<%= goal.point_value %>"> Check!</a>
      </div>
        <div><span class="weekly_results"><%= goal.weekly_results %></span> Weekly Results</div>
      </li>
    <% end %>
  </ul>



</body>
<br>
<br>
<br>
<br>
</html>
