
<!-- Slideshow start here -->
<section id="slide-wrapper">
  <div class="banner">

      <ul>
          <!-- slide 1 -->
          <li data-transition="fade">
              <%= image_tag('slideshow/bg_slide1.jpg') %>
              <div class="caption slide_overlay fade" data-x="-50%" data-y="0" data-speed="1000" data-start="100" data-easing="easeOutExpo"></div>
              <div class="caption general_caption lfb ltb tp-rr1"  data-x="275" data-y="173" data-speed="900" data-endspeed="900" data-start="250" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <h1 class="uppercase text-center">Change your habits<br/>Change the world</h1>
              </div>
              <div class="caption general_caption lfl ltl tp-rr2"  data-x="450" data-y="380" data-speed="900" data-endspeed="900" data-start="650" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <a href="<%= new_user_registration_path %>" class="button small green round buttonfix">Join Us!</a>
              </div>
              <!-- <div class="caption general_caption lfr ltr tp-rr3"  data-x="500" data-y="323" data-speed="900" data-endspeed="900" data-start="650" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <a href="#" class="button small white-sld round">Try our Demo <i class="icon-explorerwindow"></i></a>
              </div> -->
              <div class="caption general_caption lfb ltb tp-rr4"  data-x="302" data-y="470" data-speed="900" data-endspeed="900" data-start="750" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <p class="text-center">Set goals to reinforce your habits and become more eco-friendly<br/>one click at a time.</p>
              </div>
          </li>

          <!-- slide 2 -->
          <li data-transition="fade">
              <%= image_tag('slideshow/bg_slide2.jpg') %>
              <div class="caption slide_overlay fade" data-x="-50%" data-y="0" data-speed="1000" data-start="100" data-easing="easeOutExpo"></div>
              <div class="caption general_caption lfb ltb tp-rr1"  data-x="275" data-y="173" data-speed="900" data-endspeed="900" data-start="250" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <h1 class="uppercase text-center">A million tiny acts<br/>to change the world </h1>
              </div>
              <div class="caption general_caption lfl ltl tp-rr2"  data-x="450" data-y="380" data-speed="900" data-endspeed="900" data-start="650" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <a href="<%= new_user_registration_path %>" class="button small green round buttonfix">Join Us!</a>
              </div>
              <!-- <div class="caption general_caption lfr ltr tp-rr3"  data-x="500" data-y="323" data-speed="900" data-endspeed="900" data-start="650" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <a href="#" class="button small white-sld round">Try our Demo <i class="icon-explorerwindow"></i></a>
              </div> -->
              <div class="caption general_caption lfb ltb tp-rr4"  data-x="302" data-y="470" data-speed="900" data-endspeed="900" data-start="750" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <p class="text-center">Set goals to reinforce your habits and become more eco-friendly<br/>one click at a time.</p>
              </div>
          </li>
          <!-- slide 3 -->
          <li data-transition="fade">
              <%= image_tag('slideshow/bg_slide3.jpg') %>
              <div class="caption slide_overlay fade" data-x="-50%" data-y="0" data-speed="1000" data-start="100" data-easing="easeOutExpo"></div>
              <div class="caption general_caption lfb ltb tp-rr1"  data-x="275" data-y="173" data-speed="900" data-endspeed="900" data-start="250" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <h1 class="uppercase text-center">&nbsp;Change the world<br/>&nbsp;Change a generation</h1>
              </div>
              <div class="caption general_caption lfl ltl tp-rr2"  data-x="450" data-y="380" data-speed="900" data-endspeed="900" data-start="650" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <a href="<%= new_user_registration_path %>" class="button small green round buttonfix">Join Us!</a>
              </div>
              <!-- <div class="caption general_caption lfr ltr tp-rr3"  data-x="500" data-y="323" data-speed="900" data-endspeed="900" data-start="650" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <a href="#" class="button small white-sld round">Try our Demo <i class="icon-explorerwindow"></i></a>
              </div> -->
              <div class="caption general_caption lfb ltb tp-rr4"  data-x="302" data-y="470" data-speed="900" data-endspeed="900" data-start="750" data-end="8500" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                  <p class="text-center">Set goals to reinforce your habits and become more eco-friendly<br/>one click at a time.</p>
              </div>
          </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
  </div>
  </section>
  <!-- Slideshow end here -->

  <!-- Content wrapper and sticky menu trigger here  -->
  <div id="content-wrapper" class="browser-fix">

  <!-- Content fullwidth start here -->
  <section class="content-full1">
      <div class="row">
          <div class="large-12 columns text-center triggerAnimation animated" data-animate="fadeInDown">
              <h2>Your Feedback-Driven Eco-Friendly App.</h2>
              <p class="lead">Choose what eco-friendly actions you can do every day to improve our environment.</p>

              <div id="horizontalTab-Top" class="reva-tabs">
                  <ul class="resp-tabs-list">
                      <li><i class="icon-desklamp"></i></li>
                      <li class="green-color" data-class="green-color"><i class="icon-plug"></i></li>
                      <li class="blue-color" data-class="blue-color"><i class="icon-gift"></i></li>
                      <li class="yellow-color" data-class="yellow-color"><i class="icon-bucket"></i></li>
                  </ul>
                  <div class="resp-tabs-container">
                      <div>
                          <div class="reva-tabs-title">
                              <h4>A fun, interactive dashboard.</h4>
                              <p></p>
                          </div>

                          <img src="assets/sample/content_img6.png" alt="" class="img-left img-reva-tabs1 triggerAnimation animated" data-animate="fadeInLeft">
                          <p class="triggerAnimation animated" data-animate="fadeInDown">

                          </p>
                          <p class="triggerAnimation animated" data-animate="fadeInDown">
                              Set your goals. Click "Did it!". Get immediate positive feedback.
                          </p>
                          <ul class="no-bullet reva-tabs-fancybox">
                              <li class="triggerAnimation animated" data-animate="fadeInUp">
                                  <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here"><%= image_tag('sample/content_img1.jpg') %></a>
                              </li>
                              <li class="triggerAnimation animated" data-animate="fadeInUp">
                                  <a class="fancybox" href="assets/thumb/p2.jpg" data-fancybox-group="gallery" title="Some of project description here"><%= image_tag('sample/content_img2.jpg') %></a>
                              </li>
                              <li class="triggerAnimation animated" data-animate="fadeInUp">
                                  <a class="fancybox" href="assets/thumb/p3.jpg" data-fancybox-group="gallery" title="Some of project description here"><%= image_tag('sample/content_img3.jpg') %></a>
                              </li>
                          </ul>
                          <div class="clear"></div>
                      </div>

                      <div>
                          <div class="reva-tabs-title">
                              <h4>Track your progress on the fly. It's mobile!</h4>
                              <p></p>
                          </div>
                          <img src="assets/sample/content_img17.png" alt="" class="img-right img-reva-tabs2 triggerAnimation animated" data-animate="fadeInRight">
                          <p class="triggerAnimation animated" data-animate="fadeInDown">
                              Did you recycle today? Are you carpooling right now? Check it off! </br>Quickly open your dashboard and record your progress.
                          </p>
                          <p class="triggerAnimation animated" data-animate="fadeInDown">
                              Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur dolorem eum fugiat quo voluptas.
                          </p>
                          <ul class="no-bullet reva-tabs-fancybox triggerAnimation animated" data-animate="fadeInUp">
                              <li>
                                  <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here"><img src="assets/sample/content_img1.jpg" alt=""></a>
                              </li>
                              <li>
                                  <a class="fancybox" href="assets/thumb/p2.jpg" data-fancybox-group="gallery" title="Some of project description here"><img src="assets/sample/content_img2.jpg" alt=""></a>
                              </li>
                              <li>
                                  <a class="fancybox" href="assets/thumb/p3.jpg" data-fancybox-group="gallery" title="Some of project description here"><img src="assets/sample/content_img3.jpg" alt=""></a>
                              </li>
                          </ul>
                          <div class="clear"></div>
                      </div>

                      <div>
                          <div class="reva-tabs-title">
                              <h4>What does Eco-Friendly mean anyway? </h4>
                              <p></p>
                          </div>
                          <div class="row">
                              <div class="large-6 medium-6 column triggerAnimation animated" data-animate="fadeInLeft">
                                  <p><span class="dropcap">A</span>What does going green mean?

Going green does not only involve recycling. Going green involves much more.

Basically, going green means to live life, as an individual as well as a community, in a way that is friendly to the natural environmental and is sustainable for the earth.</p>
                                  <p></p>
                              </div>

                              <div class="large-6 medium-6 column triggerAnimation animated" data-animate="fadeInRight">
                                  <p>It means contributing towards maintaining the natural ecological balance in the environment, and preserving the planet and its natural systems and resources.

                                  It also means taking steps, whether big or small, to minimize the harm you do to the environment (including the carbon footprints you leave behind), as a result of inhabiting this planet.</p>
                                  <ul class="check">

                                  </ul>
                              </div>
                          </div>
                          <div class="clear"></div>
                      </div>

                      <div>
                          <div class="reva-tabs-title">
                              <h4>Smooth but it’s sharp display</h4>
                              <p>Umur nyepeng andhapan dodot estri tangsul mlampah bocah lingsem nyipeng toya kaca tlngal jawah</p>
                          </div>
                          <img src="assets/sample/content_img18.png" alt="" class="img-center triggerAnimation animated" data-animate="bounceIn">
                          <p class="text-center triggerAnimation animated" data-animate="fadeInUp">
                              Neque porro quisquam estqui dolorem ipsum quia dolor sit amet consectetur, adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae voluptatibus maiores alias consequatur aut perferendis.
                          </p>
                          <div class="clear"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Content fullwidth end here -->

  <!-- Content start here -->
  <section class="content">
      <div class="row triggerAnimation animated" data-animate="fadeInDown">
          <div class="large-4 medium-6 columns">
              <div class="circle-border small icon-left">
                  <i class="icon-fblike"></i>
              </div>
              <div class="content-position1">
                  <h4>Ride your bike</h4>
                  <p>Bicycle traffic in Copenhagen prevents 90,000 tons of CO2 from being emitted annually. City of Copenhagen, 2006 - Bicycle Account, 2006 </p>
              </div>
          </div>

          <div class="large-4 medium-6 columns">
              <div class="circle-border small icon-left">
                  <i class="icon-tshirt"></i>
              </div>
              <div class="content-position1">
                  <h4>Air dry your laundry</h4>
                  <p>Your dryer checks in at number two on the list of household energy hogs (right after your fridge). </p>
              </div>
          </div>

          <div class="large-4 medium-6 columns">
              <div class="circle-border small icon-left">
                  <i class="icon-carbattery"></i>
              </div>
              <div class="content-position1">
                  <h4>Turn off your engine</h4>
                  <p>An idling car can release as much pollution as a moving car. Turn off your ignition if you're waiting more than 10 seconds.</p>
              </div>
          </div>

          <div class="large-4 medium-6 columns">
              <div class="circle-border small icon-left">
                  <i class="icon-apple"></i>
              </div>
              <div class="content-position1">
                  <h4>Buy & eat local</h4>
                  <p>Do you know how far your food has travelled to reach your dinner table? While food prices in the store are relatively inexpensive, the environmental cost of transporting your food is often very high. </p>
              </div>
          </div>

          <div class="large-4 medium-6 columns">
              <div class="circle-border small icon-left">
                  <i class="icon-sunrise"></i>
              </div>
              <div class="content-position1">
                  <h4>Turn it up 1 degree</h4>
                  <p>Using ceiling or room fans allows you to set the thermostat higher because the air movement will cool the room. </p>
              </div>
          </div>

          <div class="large-4 medium-6 columns">
              <div class="circle-border small icon-left">
                  <i class="icon-automobile-car"></i>
              </div>
              <div class="content-position1">
                  <h4>Inflate your tires</h4>
                  <p>The Department of Energy says that having four poorly inflated tires will cause the average mid-size sedan to use an additional 0.5 - 0.6 gallons of gasoline per 1000 miles, or reduce fuel economy by about 1 - 2%. </p>
              </div>
          </div>

          <!-- <div class="large-12 columns text-center gap-top25">
              <a href="#" class="button medium round green">take the tour to find out more</a>
          </div> -->
      </div>
  </section>
  <!-- Content end here -->

  <!-- Content fullwidth start here -->
  <!-- <section class="content-full4">
      <div class="row">
          <div class="large-6 medium-6 tp-8 columns triggerAnimation animated" data-animate="fadeInLeft">
              <h2 class="gap-bottom0">Who are we?</h2>
              <h3 class="grey-text gap-top0">A small, passionate, &amp; powerful team.</h3>

              <div class="gap-bottom25"></div>

              <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              <p class="lead">Sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animinctio.</p>
              <a href="#" class="button medium round white">meet the entire team</a>
          </div>
      </div>
  </section> -->
  <!-- Content fullwidth end here -->

  <!-- Content start here -->
  <!-- <section class="content">
      <div class="row">
          <div class="large-9 medium-9 tp-12 columns triggerAnimation animated" data-animate="fadeInLeft">
              <h4 class="heading-line"><span>Latest Article</span></h4>

              <div id="content-carousel" class="owl-carousel">
                  <div class="item cs-style-1">
                      <figure>
                          <div>
                              <img src="assets/sample/content_img1.jpg" alt="" class="img-radius">
                          </div>
                          <figcaption>
                              <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here">
                                  <i class="icon-search"></i>
                              </a>
                              <a href="#">
                                  <i class="icon-link"></i>
                              </a>
                          </figcaption>
                      </figure>
                      <a href="#"><h5>Sample post1 from blog</h5></a>
                      <p>Consectetur adipisicin elit sed do eiusmod tempor incididunt labore ... </p>
                      <ul class="post-info no-bullet">
                          <li><i class="icon-clockalt-timealt"></i>jan 20, 2014</li>
                          <li><i class="icon-user"></i><a href="#">kartoyo</a></li>
                          <li><i class="icon-comment"></i><a href="#">15</a></li>
                      </ul>
                  </div>

                  <div class="item cs-style-1">
                      <figure>
                          <div>
                              <img src="assets/sample/content_img2.jpg" alt="" class="img-radius">
                          </div>
                          <figcaption>
                              <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here">
                                  <i class="icon-search"></i>
                              </a>
                              <a href="#">
                                  <i class="icon-link"></i>
                              </a>
                          </figcaption>
                      </figure>
                      <a href="#"><h5>Sample post2 from blog</h5></a>
                      <p>Consectetur adipisicin elit sed do eiusmod tempor incididunt labore ... </p>
                      <ul class="post-info no-bullet">
                          <li><i class="icon-clockalt-timealt"></i>jan 17, 2014</li>
                          <li><i class="icon-user"></i><a href="#">lukman</a></li>
                          <li><i class="icon-comment"></i><a href="#">12</a></li>
                      </ul>
                  </div>

                  <div class="item cs-style-1">
                      <figure>
                          <div>
                              <img src="assets/sample/content_img3.jpg" alt="" class="img-radius">
                          </div>
                          <figcaption>
                              <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here">
                                  <i class="icon-search"></i>
                              </a>
                              <a href="#">
                                  <i class="icon-link"></i>
                              </a>
                          </figcaption>
                      </figure>
                      <a href="#"><h5>Sample post3 from blog</h5></a>
                      <p>Consectetur adipisicin elit sed do eiusmod tempor incididunt labore ... </p>
                      <ul class="post-info no-bullet">
                          <li><i class="icon-clockalt-timealt"></i>jan 11, 2014</li>
                          <li><i class="icon-user"></i><a href="#">ponari</a></li>
                          <li><i class="icon-comment"></i><a href="#">25</a></li>
                      </ul>
                  </div>

                  <div class="item cs-style-1">
                      <figure>
                          <div>
                              <img src="assets/sample/content_img4.jpg" alt="" class="img-radius">
                          </div>
                          <figcaption>
                              <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here">
                                  <i class="icon-search"></i>
                              </a>
                              <a href="#">
                                  <i class="icon-link"></i>
                              </a>
                          </figcaption>
                      </figure>
                      <a href="#"><h5>Sample post4 from blog</h5></a>
                      <p>Consectetur adipisicin elit sed do eiusmod tempor incididunt labore ... </p>
                      <ul class="post-info no-bullet">
                          <li><i class="icon-clockalt-timealt"></i>jan 09, 2014</li>
                          <li><i class="icon-user"></i><a href="#">lukman</a></li>
                          <li><i class="icon-comment"></i><a href="#">17</a></li>
                      </ul>
                  </div>

                  <div class="item cs-style-1">
                      <figure>
                          <div>
                              <img src="assets/sample/content_img5.jpg" alt="" class="img-radius">
                          </div>
                          <figcaption>
                              <a class="fancybox" href="assets/thumb/p1.jpg" data-fancybox-group="gallery" title="Some of project description here">
                                  <i class="icon-search"></i>
                              </a>
                              <a href="#">
                                  <i class="icon-link"></i>
                              </a>
                          </figcaption>
                      </figure>
                      <a href="#"><h5>Sample post5 from blog</h5></a>
                      <p>Consectetur adipisicin elit sed do eiusmod tempor incididunt labore ... </p>
                      <ul class="post-info no-bullet">
                          <li><i class="icon-clockalt-timealt"></i>jan 04, 2014</li>
                          <li><i class="icon-user"></i><a href="#">kartoyo</a></li>
                          <li><i class="icon-comment"></i><a href="#">30</a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="large-3 medium-3 tp-12 columns triggerAnimation animated" data-animate="fadeInRight">
              <h4 class="heading-line"><span>Happy Client</span></h4>

              <div class="testi-container">
                  <div class="testi-text">
                      <blockquote>
                          <p>Reva Creative Agency provides pre-eminent customer service and I would recommend them to any progressive companies seeking a robust, reliable and state-of-the-art solution.</p>
                      </blockquote>
                  </div>
                  <div class="clear"></div>
              </div>
              <div class="testi-image">
                  <img src="assets/sample/team7.jpg" alt="" />
              </div>
              <div class="testi-name">Steven Alvarez
                  <br/>
                  <span class="label round green">Designer - Castro Art</span>
              </div>
          </div>
      </div>
</section> -->
  <!-- Content end here -->
