<!-- Header start here -->
<header id="header1" class="header">
    <div class="row">
        <div class="large-4 columns">
            <div id="logo">
                <a href="<%= root_path %>"><img src="assets/logo.png" alt="" class="retina" /></a>
            </div>
        </div>

        <div class="large-8 columns">
            <div id="navigation">

                <nav class="nav-menu">
                    <a class="toggleMenu" href="#"><i class="icon-menu"></i></a>

                    <ul class="nav">
                      <li class="active dropdown"><a href="application.html">Home</a>
                            <ul>
                                <li><a href="index-layout2.html">Index Layout 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">About Layout 1</a></li>
                            </ul>
                        </li>
                          <li>
                            <% if user_signed_in? %>
                            <% else %>
                            <%= link_to "Sign Up", new_user_registration_path %>
                            <% end %>
                          <li>
                            <% if user_signed_in? %>
                            <%= link_to('Dashboard', clients_path) %>
                              <li class="has-dropdown">
                                <a>Account</a>
                                <ul class="dropdown">
                                  <li>
                                    <%= link_to('Settings', edit_user_registration_path) %>
                                    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                                  </li>
                                </ul>
                                <% else %>
                                  <%= link_to('Login', new_user_session_path) %>
                                <% end %>
                              </li>
                          </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header end here -->
