<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Eco-Mojo", root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">
        <% if user_signed_in? %>
        <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </li>
          <li>
          <% if user_signed_in? %>
            <li class="has-dropdown">
              <a>Account</a>
              <ul class="dropdown">
                <li>
                  <%= link_to('Settings', edit_user_registration_path) %>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </section>
</nav>
