<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco-Mojo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

        <!-- ////////////////////////////////// -->
        <!-- //     Retina Bookmark Icon     // -->
        <!-- ////////////////////////////////// -->
        <link rel="apple-touch-icon-precomposed" href="assets/apple-icon.png" />

        <!-- ////////////////////////////////// -->
        <!-- //     Google Webfont Files     // -->
        <!-- ////////////////////////////////// -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">

        <!-- ////////////////////////////////// -->
        <!-- //        Favicon Files         // -->
        <!-- ////////////////////////////////// -->
        <link rel="shortcut icon" href="assets/favicon.ico" />
  </head>
  <body>
    <div id="box-wrapper">
    <!-- Header start here -->
    <header id="header5" class="header">
        <div class="row">
            <div class="large-4 columns">
                <div id="logo">
                    <a href="<%= root_path %>"><%= image_tag('logo.png') %></a>
                </div>
            </div>

            <div class="large-8 columns">
                <div id="navigation">

                     <nav class="nav-menu">
                        <a class="toggleMenu" href="#"><i class="icon-menu"></i></a>

                        <ul class="nav">
                          <li class="dropdown">
                            <a href="<%= root_path %>">Home</a>
                            <ul>
                              <li><a href="about.html">About</a></li>
                              <li><a href="contact.html">Contact</a></li>
                            </ul>
                           <li>
                              <% if user_signed_in? %>
                              <% else %>
                              <%= link_to "Sign Up", new_user_registration_path %>
                              <% end %>
                           </li>
                           <li>
                              <% if user_signed_in? %>
                              <%= link_to('Dashboard', clients_path) %>
                              <li class="dropdown">
                                  <a>Account</a>
                                    <ul>
                                      <li>
                                         <%= link_to('Settings', edit_user_registration_path) %>
                                         <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                                      </li>
                                    </ul>
                                 </li>
                                 <ul>
                                       <li>
                                        <% else %>
                                       <li> <%= link_to('Login', new_user_session_path) %></li>
                                       <li> <%= link_to('Facebook Login', user_omniauth_authorize_path(:facebook)) %></li>
                                        <% end %>
                                      </li>
                                 </ul>
                             </li>
                            </li>
                        </ul>
                    </nav>
                 </div>
            </div>
          </div>
    </header>
    <% flash.each do |name, msg| %>
      <div data-alert class="alert-box">
        <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <!-- Header end here -->
    <main><%= yield %></main>
      <footer id="footer1">
        <div class="row">
          <div class="large-4 medium-6 columns hide-for-small-only">
              <a href="<%= new_user_registration_path %>" class="button large round white gap-top8">Ready to get started?</a>
          </div>

          <div class="large-8 medium-6 columns text">
              <div class="footer-socials right">
                  <ul class="share-social no-bullet">
                      <li data-tooltip class="has-tip tip-top fb-color" title="Link to Facebook">
                          <a href="#">
                              <i class="social-facebook"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top tw-color" title="Link to Twitter">
                          <a href="#">
                              <i class="social-twitter"></i>
                          </a>
                      </li>
                  </ul>
              </div>

              <div class="footer-menu">
                  <ul class="no-bullet right">
                      <li><a href="about.html">About</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </div>
              <div class="right">
                  <p>&copy; 2014 Eco-Mojo</p>
              </div>
          </div>
      </div>
    </footer>
  <!-- Footer end here -->
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
