<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco-Mojo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

        <!-- ////////////////////////////////// -->
        <!-- //     Retina Bookmark Icon     // -->
        <!-- ////////////////////////////////// -->
        <link rel="apple-touch-icon-precomposed" href="assets/apple-icon.png" />

        <!-- ////////////////////////////////// -->
        <!-- //     Google Webfont Files     // -->
        <!-- ////////////////////////////////// -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">

        <!-- ////////////////////////////////// -->
        <!-- //        Favicon Files         // -->
        <!-- ////////////////////////////////// -->
        <link rel="shortcut icon" href="assets/favicon.ico" />
  </head>

  <body>
    <main><%= yield %></main>
      <footer id="footer1">
        <div class="row">
          <div class="large-4 medium-6 columns hide-for-small-only">
              <a href="<%= new_user_registration_path %>" class="button large round white gap-top8">Ready to get started?</a>
              <p class="gap-left8">You can also call 123.456.7899 or <a href="mailto:hello@prodigystudio.net">email us</a>.</p>
          </div>

          <div class="large-8 medium-6 columns text">
              <div class="footer-socials right">
                  <ul class="share-social no-bullet">
                      <li data-tooltip class="has-tip tip-top fb-color" title="Share to Facebook">
                          <a href="#">
                              <i class="social-facebook"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top tw-color" title="Share to Twitter">
                          <a href="#">
                              <i class="social-twitter"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top gplus-color" title="Share to Google+">
                          <a href="#">
                              <i class="social-googleplus"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top drb-color" title="Share to Dribbble">
                          <a href="#">
                              <i class="social-dribbble"></i>
                          </a>
                      </li>
                  </ul>
              </div>

              <div class="footer-menu">
                  <ul class="no-bullet right">
                      <li><a href="#">Work</a></li>
                      <li><a href="#">Approach</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>

              <div class="right">
                  <p>&copy; 2014 </p>
              </div>
          </div>
      </div>
    </footer>
  <!-- Footer end here -->
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
