<!DOCTYPE html>
<html>
<head>
  <title>EcoMojo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   
=======
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
>>>>>>> 0a856f1a516e90a3339ca5b9349581b22a44a246
<%= yield %>

</body>
</html>
