<!DOCTYPE html>
<html>
<head>
  <title>EcoMojo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track', 'cocoon' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="container">
    <nav class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="<%= root_path %>">Eco-Mojo</a>
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= about_path %>">About</a>
        </li>
        <li>
          <a href="<%= contact_path %>">Contact</a>
        </li>
        <li>
          <a href="<%= new_user_registration_path %>">Sign Up</a>
        </li>
        <li>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
        <footer>
          copyright &copy; <%= Time.now.year %>
        </footer>
      </div>
    </div>
  </section>
</body>
</html>
